model
LLaMA-Factory
logs
__pycache__
instance/
uploads/
.gitignore
app.zip
finetune_configs/
finetuned_models
start_all.bat
LLaMA-Factory.zip
.env
hugface/
faiss_index/
.qoder/
.env
cache/
.env
.trae/
.cache/
.ipynb_checkpoints/
aaa.py1
app/config/.ipynb_checkpoints/
start.py