flask
flask-sqlalchemy
pymysql
redis
faiss-cpu
paddlepaddle
paddleocr
requests
numpy
pandas
gunicorn
pymupdf
langchain
langchain-community
langchain-huggingface
langchain-openai
python-dotenv
python-docx
openpyxl
rank_bm25
tensorboard
pyyaml
torch
pdfplumber
transformers