flask
flask-sqlalchemy
pymysql
redis
faiss-cpu
paddlepaddle
paddleocr
requests
numpy<2.0.0
pandas
gunicorn
pymupdf
langchain>=0.2.0
langchain-community>=0.2.0
langchain-huggingface>=0.0.3
langchain-openai>=0.1.7
python-dotenv
python-docx
openpyxl
rank_bm25
tensorboard
pyyaml
torch
